@import "style/variables";
@import "style/mixins";
.container {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;

  gap: 10px;

  color: $text_content_highlight;
}

.count {
  @include center;

  font-size: 12px;
  color: white;
  padding: 2px 5px;
  border-radius: 30px;
  background-color: $active_link;
  line-height: 1;
}

.count.highlight {
  font-size: 12px;
  color: white;
  padding: 2px 4px;
  border-radius: 30px;
  background-color: $active_link;
}

.client_length {
  @include center;
  font-size: 12px;
  color: white;
  padding: 2px 5px;
  border-radius: 30px;
  background-color: $text_content_highlight;
  line-height: 1;
}