@import "style/variables";

.container {
  background-color: white;
  flex-grow: 1;
  padding: 15px;

  color: $text_content;
  overflow-y: scroll;
  max-height: fit-content;
}

.scroll_container {
  height: 1px;
}