@import "style/mixins";

.container {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 10px;
}

.button_container {
  width: 34px;
  height: 34px;
  border-radius: 100%;

  @include center;
  line-height: 0;
  background-color: #F1F2F3;
}

.filter {
  justify-self: end;
}

.add {
  justify-self: end;
}